body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: black;
}

header * {
    display: inline;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    color: white;
}

#boo .profile-img {
    width: 300px;
    border-radius: 50%; 
}

footer {
    text-align: center;
    padding: 50px;
}

#boo h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
    color: white;
}

section h3 {
    font-size: 1.5em;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
}

#boo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://lh3.googleusercontent.com/CiKRgpq-AdNq-15CYBn612tEi97vLM9vXKfzhqYkGEVnfcCeFq3v_3C3AgrpHHOkbRoZqD4sNgL69l8bOjbDwN9eCTABEIUGkMjc_uWvO0FqC6r4kF13FsKeSetFxmd-zRlKRzi9=w2400');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://lh3.googleusercontent.com/aLbA499Ca5i_YvrtphvhFa4mkmVAwaNApuTF6SvSt1QHAQeHYXpBc5Wq2Fpa2BFpKnJZua8RS6hVFct2DVBoNL39zsv5RJTsJno28bJZR04IVSFtbARzZVPztSlrofe3x22OKI7U=w2400');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#contact {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://lh3.googleusercontent.com/sltYfIevj7nOSqb58SEuyR62zRy4WKTeOHygQhG84rPeQCHs5MTJnzNyfVtcHP4MhRczRwzUCRXS0qsyF950Zr6RrpqrRQup-0ad3O6Lyn_y26jZf9z7iazFeY-esS4h0HB595fT=w2400');
}

.hello { 
    position: relative; 
    width: 50px; 
    height: 50px; 
    overflow: hidden; 
    border-radius: 50%; 
} 

.hello img { width: 100%; height: auto; }
